#layoutContainer {
    display: grid;
    grid-template: auto 1fr / auto 1fr;
}

#headerBar {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

#navDrawer { 
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    /*width: 0;*/
    background-color: #ccc;
    transition: margin-left .5s ease-in-out;
    margin-left: -16em;
    width: 15em;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
}

#navDrawer.open {
    margin-left: 0;
}

#navDrawer a {
    text-decoration: none;
    color: var(--fbc-primary-text);
    font-weight: bold;
}

#navDrawer li {
    transition: background-color .2s ease-in-out;
}

#navDrawer .current li {
    background-color: rgb(182, 182, 182);
}

#navDrawer a:hover li {
    background-color: #a8a8a8;
}

#main-wrapper {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
#main-container { 
    flex: 1; /* consumes all free space (taking full height) */
    height: 100%;
}

html, body, #root, #layoutContainer {
    height: 100%;
}

:root {
    --primary-text-color: rgba(0, 0, 0, 0.85);
    --height-0-background: rgb(228, 228, 228);
    --height-1-background: rgb(155, 155, 155);
    --height-2-background: rgb(112, 112, 112);
    --height-3-background: rgb(92, 92, 92);
}

* {
    box-sizing: border-box !important;
}