.pageBox {
    display: flex;
    flex-direction: column;
    background-color: var(--height-0-background);

    justify-content: center;
    align-items: center;
    padding: 3em;

    min-height: 100%;
}

.title {
    font-size: 3em;
    text-align: center;
}

.subtitle {
    font-size: 2em;
    text-align: center;
}

/* TODO: Modify this to have desktop view */
.featuresContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    margin-top: 2em;
}

.featurePanel {
    width: min(350px, 70vw);
    aspect-ratio: 1/1;
    background-color: var(--height-1-background);
    box-shadow: var(--height-1-boxshadow);

    display: grid;
    grid-template-rows: 70% 30%;

    margin: 1em;

    color: var(--primary-text-color);
    text-decoration: none;

    border-radius: 10px;
    padding: 1em;

    transition: transform 0.3s ease-in-out,
                background-color 0.3s ease-in-out;
}

.featureIcon {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-content: center;

    height: 100%;
    width: 100%;
}

.featureIcon > svg {
    height: 100%;
    width: unset;
}

.featureTitle {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;

    font-size: 4cqh;
}

@media not (prefers-reduced-motion) {
    .featurePanel:hover, .featurePanel:focus {
        transform: scale(1.03);
        background-color: var(--height-2-background);
    }
}

@media (max-width: 500px) {
    .title {
        display: none;
    }
}

.noDecoration {
    text-decoration: none;
}