{% extends 'base.html' %}
{% block title %}Schedule Viewer{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for("static", filename="css/schedule.css") }}" type="text/css">
{% endblock %}
{% block content %}
<div id="main-container">
<div id="menu-container">
<div id="class-descriptions">
<div class="close-description-button button" onclick="close_class_details()">x</div>
<!-- Filled by requests -->
</div>
</div>
<div id="schedule-container">
<div id="schedule">
<h2 class="day-indicator" style="grid-column: 2/3">Monday</h2>
<h2 class="day-indicator" style="grid-column: 3/4">Tuesday</h2>
<h2 class="day-indicator" style="grid-column: 4/5">Wednesday</h2>
<h2 class="day-indicator" style="grid-column: 5/6">Thursday</h2>
<h2 class="day-indicator" style="grid-column: 6/7">Friday</h2>
{% for hour in range(14) %}
    <h2 class="hour-indicator" style="grid-row: {{ hour * 12 + 2 }}/{{ hour * 12 + 3 }}">{{ humanize_hour(hour + 8) }}</h2>
{% endfor %}
<div class="hour-background"></div>
<!-- The following divs are filled by requests-->
<div id="monday" class="day-schedule"></div>
<div id="tuesday" class="day-schedule"></div>
<div id="wednesday" class="day-schedule"></div>
<div id="thursday" class="day-schedule"></div>
<div id="friday" class="day-schedule"></div>
</div>
</div>
</div>
{% endblock %}
{% block script %}
{% include 'schedule_manager.html' %}
<script src="{{ url_for("static", filename="js/schedule.js") }}"></script>
{% endblock %}
