
/* Inline #2 | http://127.0.0.1:5000/search */

#content-container {
  display: grid;
  grid-template: 1fr / 20% 80%;
  height: 100%;
  overflow: hidden;
}

#results-container {
  height: 100%;
  overflow: auto;
  display: flex;
}

.class-result {
  border-radius: 15px;
  background-color: var(--primary-color);
  margin: 5px;
  padding: .5rem;
}

#results-container.tiled {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}


.tiled .class-result {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 0 1 15rem;
  aspect-ratio: 1/1;
  min-height: 1%;
  height: 15rem;
}

.rows .class-result{
  display: flex;
  flex-direction: row;
}

.rows .schedule {
  margin-right: 3rem;
}

.rows .add_class_button {
  margin-left: 0;
}

.class-result h1 {
  margin: 0.2rem;
  font-size: 1.3rem;
}

.class-result h2 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: normal;
}

.class-result h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
}

.schedule {
  display: flex;
  margin: auto;
  flex-direction: column;
}

#results-container.rows {
  flex-direction: column;
}

.rows .schedule{
  justify-content: space-between;
  align-items: center;
}

.add_class_button {
  background-color: var(--positive-color);
  width: 2rem;
  height: 2rem;
  margin-left: auto;
  margin-top: auto;
  border: 3px solid var(--primary-color);
  border-radius: 10px;

  font-weight: bolder;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inSchedule .add_class_button {
  visibility: collapse;
}

.add_class_button:hover {
  cursor: pointer;
}

#search-form {
  display: flex;
  flex-direction: column;
}

#search-form > * {
  margin: 5px;
}

@media only screen and (max-width: 600px) {

    #content-container {
      grid-template: auto 1fr / 1fr;
    }

    #search-form {
      height: auto;
    }

    #search-container {
      height: auto;
      overflow: clip;
    }

    #search-form > input:not(#class_code), #search-form > label, #search-form > select {
      visibility: collapse;
    }

}